<div class="content">
  <div class="container">

  <h3 class='color'>Tabela de preços</h3>
  <hr />
  <p class='big grey' class='grey'>Quanto mais aulas contratar e quanto mais pessoas presentes, maior o desconto.</p>

                    <!-- Pricing table -->                     
                     <!-- Price details. Note down the class name before you edit. -->
                     <div class="row">
                     
                        <div class="col-md-6">
                        
                           <!-- Add the class "phighlight" to highlight specific table -->
                           
                           <!-- Pricing table #1. Class name "price-a" -->
                           <div class="price-a pricel center">
                                 <div class="phead-top b-green">
                                    <!-- Title -->
                                    <h4>Avulsa I</h4>
                                 </div>
                                 <div class="phead-bottom">
                                    <!-- Price. Use the syntax correctly. -->
                                    <p><span class="pst">R$</span> 80,00 <span class="psb">/hora</span></p>
                                 </div>
                                 <div class="arrow-down"></div>
                              <div class="plist">
                                 <!-- List -->
                                 <ul>
                                    <li>Aula individual</li>
                                    <li>Apenas uma aula</li>
                                    <li>Mínimo de 2 horas</li>
                                    <li>Presencial / Online</li>
                                 </ul>
                              </div>
                              <div class="pbutton button">  
                                 <!-- button -->
                                 <a href="<%= contato_path %>"><i class="icon-shopping-cart"></i> Contratar</a>
                              </div>
                           </div>
                           
                           <!-- Pricing table #2. Class name "price-b" -->
                           <div class="price-b pricel center">
                                 <div class="phead-top b-purple">
                                    <h4>Avulsa II</h4>
                                 </div>
                                 <div class="phead-bottom">
                                    <p><span class="pst">R$</span> 65,00 <span class="psb">/hora</span>*</p>
                                 </div>
                                 <div class="arrow-down"></div>
                              <div class="plist">
                                 <ul>
                                    <li>Aula em Grupo</li>
                                    <li>Apenas uma aula</li>
                                    <li>Mínimo de 2 horas</li>
                                    <li>Presencial</li>
                                 </ul>
                              </div>
                              <div class="pbutton button">  
                                 <!-- button -->
                                 <a href="<%= contato_path %>"><i class="icon-shopping-cart"></i> Contratar</a>
                              </div>
                           </div>  
                                 
                           <div class="clearfix"></div>
                        </div>  
                        
                        <div class="col-md-6">
                        
                           <!-- Pricing table #3. Class name "price-a" -->
                           <div class="price-a pricel center">
                                 <div class="phead-top b-blue">
                                    <h4>Múltipla I</h4>
                                 </div>
                                 <div class="phead-bottom">
                                    <p><span class="pst">R$</span> 65,00 <span class="psb">/hora</span></p>
                                 </div>
                                 <div class="arrow-down"></div>
                              <div class="plist">
                                 <ul>
                                    <li>Aula Individual</li>
                                    <li>Múltiplas Aulas</li>
                                    <li>Mínimo de 2 horas cada</li>
                                    <li>Presencial / Online</li>
                                 </ul>
                              </div>
                              <div class="pbutton button">  
                                 <!-- button -->
                                 <a href="<%= contato_path %>"><i class="icon-shopping-cart"></i> Contratar</a>
                              </div>
                           </div>
                           
                           <!-- Pricing table #4. Class name "price-b" -->
                           <div class="price-b pricel center">
                                 <div class="phead-top b-orange">
                                    <h4>Múltipla II</h4>
                                 </div>
                                 <div class="phead-bottom">
                                    <p><span class="pst">R$</span> 60,00 <span class="psb">/hora</span>*</p>
                                 </div>
                                 <div class="arrow-down"></div>
                              <div class="plist">
                                 <ul>
                                    <li>Aula em Grupo</li>
                                    <li>Múltiplas Aulas</li>
                                    <li>Mínimo de 2 horas cada</li>
                                    <li>Presencial</li>
                                 </ul>
                              </div>
                              <div class="pbutton button">  
                                 <!-- button -->
                                 <a href="<%= contato_path %>"><i class="icon-shopping-cart"></i> Contratar</a>
                              </div>
                           </div>   
                                 
                           <div class="clearfix"></div>                        
                                                   
                        </div>
                     </div>              


                           <p>*Preço por pessoa</p> 
  <div class="border"></div>
  </div>
</div>

