<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Resume starts -->
        <div class="resume">
          <div class="row">
            <div class="col-md-12">
              <h3><span class='color'>Sobre nós</span></h3>
              <p>
                O Projeto Matemática é uma rede de professores particulares de alto nível intelectual e didático, motivados pelo processo de ensino-aprendizagem. Para fazer parte do grupo de professores é necessário ter comprovada experiência no ensino, excelente didática e formação em faculdades de renome, como IME, ITA e USP. Acreditamos que desta forma poderemos incentivar os alunos baseados em nossas próprias experiências, além de incentivar através de nossa paixão pelo que fazemos.
              </p>
              <hr />

              <!-- Discover starts -->

              <div class="discover">
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="color">Algumas áreas que dominamos...</h3>
                  </div>
                </div>
              </div>

              <!-- Discover ends --> 
    
              <div class="row">
                <div class="col-md-12">
                  <div class="bor"></div>
                  <!-- Image blocks starts -->
                  <ul class="hover-block">
                    <li>
                      <a href="#">
                        <img alt="" height="130" src="/assets/math_pi.jpg" width="225" /> 
                        <div class="hover-content b-red">
                          <h6>Matemática</h6>
                          Considerada a Rainha das Ciências, é o foco do nosso ensino. Sem a Matemática, nada podemos aprender.
                        </div>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        <img alt="" height="140" src="/assets/physics_mc2.jpg" width="225" /> 
                        <div class="hover-content b-orange">
                          <h6>Física</h6>
                          Didática é tudo no ensino da Física, pois é necessário que o aluno consiga "enxergar" a teoria.
                        </div>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        <img alt="" height="140" src="/assets/chemistry.jpg" width="225" /> 
                        <div class="hover-content b-purple">
                          <h6>Química</h6>
                          Nós podemos te ajudar a pensar "quimicamente". Que tal aprender toda a elegância dos átomos com os melhores?
                        </div>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        <img alt="" height="140" src="/assets/engineering.jpg" width="225" /> 
                        <div class="hover-content b-lblue">
                          <h6>Engenharia</h6>
                          Quando se fala nela, estamos falando de grande aplicação da Matemática e da Física. Conte conosco!
                        </div>
                      </a>
                    </li>            
                  </ul>
                  <div class="clearfix"></div>
                  <!-- Image blocks ends -->
                </div>
              </div>
              <div class="bor"></div>
              <hr />
              <div class="service-three">
                <div class="row">
                  <div class="col-md-4">
                    <!-- Service title with tag -->
                    <h4 class='color'>Aprenda com os melhores</h4>
                    <p>Não há combinação melhor do que excelente didática e domínio completo das disciplinas.</p>
                    <hr />
                  </div>
                  <div class="col-md-8">
                    <!--  Service #1 -->
                    <div class="service-icon orange">
                      <i class="icon-book"></i>
                    </div>
                    <div class="service-content">
                      <h5>Nós estudamos continuamente</h5>
                      <p>Professores dedicados à constante pesquisa, aperfeiçoando seus conhecimentos cada dia mais. Apaixonados por aprender e ensinar.</p>
                    </div>
                    <hr />

                    <!-- Service #2 -->
                    <div class="service-icon red">
                      <i class="icon-heart"></i>
                    </div>
                    <div class="service-content">
                      <h5>Amamos ensinar</h5>
                      <p>Todos somos movidos pelo amor ao ensino e compartilhamento de experiências. O conhecimento faz o mundo andar para frente!</p>
                    </div>
                    <hr />   

                    <!-- Service #3 -->
                    <div class="service-icon lblue">
                      <i class="icon-user"></i>
                    </div>
                    <div class="service-content">
                      <h5>Focamos a meta do aluno</h5>
                      <p>Nós temos um intenso comprometimento com o objetivo do aluno. A vitória do aluno é a nossa vitória!</p>
                    </div>
                    <hr />

                    <!-- Service #4 -->
                    <div class="service-icon purple">
                      <i class="icon-screenshot"></i>
                    </div>
                    <div class="service-content">
                      <h5>Alcance seus objetivos</h5>
                      <p>Chame um professor agora mesmo e comprove a diferença no seu modo de enxergar as matérias que tiram seu sono. Ultrapasse obstáculos!</p>
                    </div>
                    <br />
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
              <hr />
              <div class="bor"></div>
            </div>
          </div>                           
        </div>
      </div>
    </div>
  </div>
</div>
