<% flash.each do |name, msg| %> 
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>" style="margin: 10px 20px 10px 20px">
    <a class="close" data-dismiss="alert">x</a>
    <%= msg %>    
  </div>        
<% end %> 

<div class="content contact">
  <div class="container">
    <h3 class='color'>Contato</h3>
    <p class="big grey">Para solicitar aulas, preencha o formulário de contato abaixo. Se preferir, entre em contato conosco através do email ou dos telefones fornecidos.</p>
    <hr />           
    <div class="row"> 
      <div class="col-md-6 col-sm-6">
        <!-- Contact form -->
        <h3 class='big'>Formulário de contato</h3>
        <hr />
        <div class="form">
          <%= render "form" %>
        </div>
        <hr />        
        <!-- Social media icons -->
        <h5>Fique por dentro:</h5>
        <div class="social">
          <a href="http://www.facebook.com/projmatematica"><i class="icon-facebook facebook"></i></a>
          <a href="#"><i class="icon-twitter twitter"></i></a>
          <a href="#"><i class="icon-google-plus google-plus"></i></a>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <h3 class='big'>Localização</h3>
        <hr />
        <!-- Google maps -->
        <div class="gmap">
          <!-- Google Maps. Replace the below iframe with your Google Maps embed code -->
          <iframe width="425" height="260" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=S%C3%A3o+Paulo&amp;aq=0&amp;oq=s%C3%A3o+paulo&amp;sll=-22.546141,-48.635523&amp;sspn=6.075849,10.821533&amp;ie=UTF8&amp;hq=&amp;hnear=S%C3%A3o+Paulo&amp;t=m&amp;z=9&amp;ll=-23.55052,-46.633309&amp;output=embed">
          </iframe>
          <br />
          * Temos professores em toda a cidade de SP (incluindo a região do ABC) e São José dos Campos.
        </div>
        <hr />
        <div class="address">
          <h3 class="big title">Telefones</h3>
          <address>
            (11) 9 8434 9307<br/>
            (11) 9 8228 1000
          </address>
          <address>
            <h3 class="big title">Email</h3>
            <a href="mailto:contato@projetomatematica.com.br">contato@projetomatematica.com.br</a>
          </address> 
        </div>
      </div>
    </div>
  <div class="border"></div>
  </div>
</div>
