<p><strong>Solicitação</strong></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Mensagem:</strong> <%= @user.message %></p>
<br />
<p>Recebido em <%= Time.now.strftime("%d/%m/%Y - %H:%M") %></p>
